/nbproject/private/
/base-ejb/nbproject/private/
/facilerp-web/nbproject/private/
/base-ejb/build/
/build/
/dist/
/base-ejb/dist/
/facilerp-web/build/
/facilerp-web/dist/
/ejb-stock/nbproject/private/
/stock-ejb/nbproject/private/
/Persistencia/build/
/Persistencia/dist/
/stock-ejb/build/
/stock-ejb/dist/
/Modelo-jpa/nbproject/private/
/Modelo-jpa/build/
/Modelo-jpa/dist/
/contabilidad-ejb/build/
/contabilidad-ejb/dist/
/contabilidad-ejb/nbproject/private/
/listeners-ejb/nbproject/private/
/listeners-ejb/build/
/listeners-ejb/dist/
/puntaventa-ejb/nbproject/private/
/puntaventa-ejb/build/
/puntaventa-ejb/dist/